/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
}

a {
	color: #00e;
}

a:visited {
	color: #551a8b;
}

a:hover {
	color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
 - Copyright (c) 2013. Alex Kotomanov (http://alex.kotomanov.com)
 -----------------------------------------------------------------------------*/

body {background:#000;}


/*
 * Common pass styles
 -------------------------------------------------------------------------------- */
.pass {
	margin:5px auto;
	}
	.flipper {
		position:relative;
		background-color:transparent !important;
		}
.pass,
.flipper,
.pass-front-side,
.pass-back-side {
	width:312px;
	height:400px;
	}

.pass-front-side,
.pass-back-side {
	position:absolute;
	top:0;
	left:0;
	background:#272822;
	-webkit-box-shadow:inset 0 3px 3px 0 rgba(255,255,255,.5), 
		inset 0 -2px 2px 0 rgba(0,0,0,.5), 
		inset 0 -2px 5px 0 rgba(0,0,0,.5),
		0 1px 5px 0 rgba(0,0,0,1);
	box-shadow:inset 0 3px 3px 0 rgba(255,255,255,.5), 
		inset 0 -2px 2px 0 rgba(0,0,0,.5),
		inset 0 -2px 5px 0 rgba(0,0,0,.5), 
		0 1px 5px 0 rgba(0,0,0,1);
	-webkit-border-radius:9px;
	border-radius:9px;
	background-clip:padding-box;

	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight:500;
	color:#fff;
	text-shadow:0 -1px 1px rgba(0,0,0,.5);
	}
.pass-front-side { z-index:2; }

.pass h1,
.pass h2,
.pass h3 { font-family:Helvetica, "Helvetica Neue", Arial, sans-serif; }

/* Mini Grid System */
.row {
	margin:0 0 0 -8px;
	}
	.row .span2,
	.row .span3 {
		display:inline;
		float:left;
		margin:0 0 0 8px;
		}
	.row .span2 { width:136px; }
	.row .span3 { width:88px; }
		.header-fields .row .span2 { width:39px; }

/*
 * Front Side
 -------------------------------------------------------------------------------- */
.pass-front-side h2 {
	margin:8px 0;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	line-height:1;
	font-size:32px;
	font-weight:100;
	text-shadow:0 -2px 1px rgba(0,0,0,.8);
	}
.pass-front-side h2+p {
	margin:0;
	letter-spacing:.03em;
    font-size:16px;
    font-weight:300;
	}

.pass-front-side dl { margin-top:0; }
.pass-front-side dd { margin:0; }

/* Header */
.pass-front-side header {
	overflow:hidden;
	padding:9px 16px 0;
	max-height:62px;
	}
	.pass-front-side .logo-container {
		overflow:hidden;
		float:left;
		width:184px;
		white-space:nowrap;
		}
		.pass-front-side .logo,
		.pass-front-side .logo-text {
			display:inline-block;
			vertical-align:middle;
			}
		.pass-front-side .logo {
			margin:0 8px 0 0;
			max-width:160px;
			max-height:50px;
			}
		.pass-front-side .logo-text {
			overflow:hidden;
			max-width:186px;
			font-size:18px;
			white-space:nowrap;
			text-overflow:ellipsis;
			}
	.pass-front-side .header-fields {
		float:right;
		width:86px;
		}

/* TotalPass Branding */
.totalpass-label {
	margin:0;
	font-size:11px;
	font-weight:700;
	letter-spacing:.1em;
	text-shadow:0 1px 2px rgba(0,0,0,.5);
	}
.totalpass-label strong {
	display:block;
	font-size:20px;
	font-weight:300;
	letter-spacing:.05em;
	color:rgba(255,255,255,.8);
	}

/* Strip */
.pass-front-side .strip {
	overflow:hidden;
	margin:16px 0;
	padding:1px 0 0;
	width:312px;
	height:123px;
	background:50% 50% no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	}
	.square-bar-code .pass-front-side .strip {
		height:110px;
		}
	.pass-front-side .strip .primary-field {
		padding:16px;
		border-top:1px solid rgba(255,255,255,.3);
		border-bottom:1px solid rgba(255,255,255,.1);
		background:-moz-linear-gradient(-45deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(-45deg, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(-45deg, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
		background:-ms-linear-gradient(-45deg, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
		background:linear-gradient(135deg, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%); /* W3C */
		filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		}

/* Thumbnail */
.pass-front-side .thumbnail {
	display:inline;
	float:right;
	margin:0 0 0 10px;
	width:90px;
	height:90px;
	overflow:hidden;
	}
	.pass-front-side .thumbnail img {
		float:right;
		border:4px solid #fff;
		-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.5);
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,.5);
		}

.pass-front-side hr {
	margin:8px 16px;
	border:1px solid rgba(0,0,0,.2);
	border-width:0 0 1px;
	-webkit-box-shadow:0 1px 1px 0 rgba(255,255,255,.3), 0 0 1px 1px rgba(255,255,255,.1);
	box-shadow:0 1px 1px 0 rgba(255,255,255,.3), 0 0 1px 1px rgba(255,255,255,.1);
	}

.pass-front-side footer,
.pass-front-side .primary-fields,
.pass-front-side .secondary-fields,
.pass-front-side .auxiliary-fields,
.pass-front-side .secondary-and-auxiliary-fields { margin:0 16px 8px; }
.pass-front-side .wrapper { margin:16px 16px 0; }
    .pass-front-side .wrapper .primary-field,
    .pass-front-side .wrapper .secondary-fields {margin:0 0 8px;}
.pass-front-side .primary-secondary-fields-wrapper {
    float:left;
    width:180px;
    }

/* Bar Code */
.pass-front-side .bar-code {
	position:absolute;
	left:50%;
	bottom:28px;
	z-index:11;
	margin:0 0 0 -127px;
	padding:8px;
	width:234px;

	-webkit-border-radius:4px;
	border-radius:4px;
	background-clip:padding-box;

	background:#fff;
	-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,.5);
	box-shadow:0 2px 4px 0 rgba(0,0,0,.5);
	}
	.square-bar-code .pass-front-side .bar-code {
		margin-left:-55px;
		padding:0 0 8px;
		width:auto;
		}
	.pass-front-side .bar-code img {
		display:block;
		margin:auto;
		width:234px;
		height:auto;
		}
		.square-bar-code .pass-front-side .bar-code img {
			width:110px;
			height:110px;
			}
	.pass-front-side .bar-code .caption {
		display:block;
		text-align:center;
		font-size:12px;
		color:#808080;
		text-shadow:none;
		}

/* Information icon */
.pass-front-side .ico-info {
	position:absolute;
	right:6px;
	bottom:9px;
	z-index:10;

	display:block;
	width:19px;
	height:19px;

	background:url(../img/ico_info.png) 0 0 no-repeat;
	}


/*
 * Back Side
 -------------------------------------------------------------------------------- */
.pass-back-side header {
	padding:7px 8px 8px;
	height:29px;
	}
	.pass-back-side .btn {
		padding:3px 14px 5px;
		height:29px;
		-webkit-border-radius:5px;
		border-radius:5px;
		background-clip:padding-box;
		border:1px solid rgba(0,0,0,.5);
		background:none;
		background:-moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background:-webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background:-o-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
		background:-ms-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
		background:linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%); /* W3C */
		filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
		-webkit-box-shadow:inset 0 1px 2px 0 rgba(0,0,0,.5), 0 1px 2px 0 rgba(255,255,255,.5);
		box-shadow:inset 0 1px 2px 0 rgba(0,0,0,.5), 0 1px 2px 0 rgba(255,255,255,.5);
		line-height:20px;
		font-size:16px;
		font-weight:500;
		color:#fff;
		text-shadow:0 -1px 1px rgba(0,0,0,.8);
		}
	.pass-back-side .btn-done {
		float:right;
		}
.pass-back-side .content-container {
	overflow-x:hidden;
	overflow-y:auto;
	margin:0 8px 5px;
	padding:7px 7px 0;
	height:342px;
	background:#f8f8f8;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-clip:padding-box;
	}
	.pass-back-side .content {
		margin:0 0 12px;
		padding:12px 12px 24px;
		border:1px solid #e2e2e2;
		-webkit-border-radius:4px;
		border-radius:4px;
		background-clip:padding-box;
		background:#fff;
		font-size:14px;
		font-weight:300;
		color:#a1a1a1;
		text-shadow:none;
		}
		.pass-back-side .content h3,
		.pass-back-side .content h4 {
			margin:0 0 .5em;
			font-size:16px;
			font-weight:500;
			}
		.pass-back-side .content p {
			margin:0 16px .5em 8px;
			}


/*
 * Boarding Pass
 -------------------------------------------------------------------------------- */
.boarding-pass .pass-front-side,
.boarding-pass .pass-back-side {
	background:#64aaf0; /* Old browsers */
	background:-moz-linear-gradient(top, #64aaf0 0%, #3b86e5 10%, #295dce 90%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#64aaf0), color-stop(10%,#3b86e5), color-stop(90%,#295dce)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #64aaf0 0%,#3b86e5 10%,#295dce 90%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #64aaf0 0%,#3b86e5 10%,#295dce 90%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top, #64aaf0 0%,#3b86e5 10%,#295dce 90%); /* IE10+ */
	background:linear-gradient(to bottom, #64aaf0 0%,#3b86e5 10%,#295dce 90%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#64aaf0', endColorstr='#295dce',GradientType=0 ); /* IE6-9 */
	}
	.boarding-pass .pass-front-side:before,
	.boarding-pass .pass-front-side:after,
	.boarding-pass .pass-back-side:before,
	.boarding-pass .pass-back-side:after {
		position:absolute;
		top:67px;
		z-index:100;
		content:"";
		overflow:hidden;
		display:block;
		margin-top:-4px;
		width:6px;
		height:12px;
		background:url(../img/bg_boarding_pass_sprite.png) 100% 0 no-repeat;
		}
	.boarding-pass .pass-front-side:after,
	.boarding-pass .pass-back-side:after {
		right:0;
		background-position:0 0;
		}

	.boarding-pass .primary-fields {
		white-space:nowrap;
		}
		.boarding-pass .departure-place,
		.boarding-pass .destination-place {
			display:inline-block;
			margin:0 16px 0 0;
			width:105px;
			vertical-align:text-bottom;
			}
		.boarding-pass .destination-place { 
			margin:0; 
			text-align:right;
			}
		.boarding-pass .primary-fields .ico {
			display:inline-block;
			margin:0 16px 0 0;
			width:30px;
			vertical-align:text-bottom;
			}
	.boarding-pass .label,
	.boarding-pass .city-name {
		text-transform:uppercase;
		font-size:12px;
		}
	.boarding-pass .value {
		font-size:24px;
		font-weight:300;
		color:#F6D834;
		}
		.boarding-pass .secondary-fields .value { font-size:20px; }
	.boarding-pass .iata-airport-code {
		border:none;
		line-height:1;
		font-size:36px;
		font-weight:300;
		color:#F6D834;
		}


/*
 * Event Ticket
 -------------------------------------------------------------------------------- */
.event-ticket .pass-front-side,
.event-ticket .pass-back-side {
	background:#d0838f; /* Old browsers */
	background:-moz-linear-gradient(top, #d0838f 0%, #b90623 10%, #a8021d 75%, #a80d26 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0838f), color-stop(10%,#b90623), color-stop(75%,#a8021d), color-stop(100%,#a80d26)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #d0838f 0%,#b90623 10%,#a8021d 75%,#a80d26 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #d0838f 0%,#b90623 10%,#a8021d 75%,#a80d26 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top, #d0838f 0%,#b90623 10%,#a8021d 75%,#a80d26 100%); /* IE10+ */
	background:linear-gradient(to bottom, #d0838f 0%,#b90623 10%,#a8021d 75%,#a80d26 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0838f', endColorstr='#a80d26',GradientType=0 ); /* IE6-9 */
	
	-webkit-box-shadow:inset 0 2px 2px 0 rgba(255,255,255,.5);
	box-shadow:inset 0 2px 2px 0 rgba(255,255,255,.5);

	-webkit-border-radius:0;
	border-radius:0;
	}
	.event-ticket .pass-front-side:before,
	.event-ticket .pass-back-side:before {
		position:absolute;
		top:0;
		left:50%;
		z-index:100;
		content:"";
		display:block;
		margin-left:-31px;
		width:62px;
		height:19px;
		background:url(../img/ticket_top.png) 50% 0 no-repeat;
		}
	.event-ticket .strip {
		height:84px;
		}
		.event-ticket .pass-front-side h2 { margin-top:0; }
	.event-ticket .pass-front-side header,
	.event-ticket .wrapper,
	.event-ticket .auxiliary-fields {
		position:relative;
		z-index:10;
		}
	.event-ticket .bg-image { 
		position:absolute;
		left:0;
		top:0;
		z-index:1;
		display:table-cell;
		width:312px;
		height:400px;
		text-align:center;
		vertical-align:middle;
		}
	.event-ticket .pass-front-side .label {
		text-transform:lowercase;
		font-size:12px;
		font-weight:700;
		letter-spacing:.1em;
		text-shadow:0 1px 2px rgba(0,0,0,.5);
		}
	.event-ticket .pass-front-side .value {
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
		font-size:20px;
		font-weight:300;
		letter-spacing:.05em;
		color:rgba(255,255,255,.8);
		text-shadow:0 1px 2px rgba(0,0,0,.8);
		}
		.event-ticket .secondary-fields .value { 
			margin:0 0 .5em;
			font-size:18px; 
			}

/*
 * Retail Coupon
 -------------------------------------------------------------------------------- */
.retail-coupon .pass-front-side,
.retail-coupon .pass-back-side {
	background:#edd876; /* Old browsers */
	background:-moz-linear-gradient(top, #edd876 0%, #e7c95b 10%, #cd8b3e 90%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#edd876), color-stop(10%,#e7c95b), color-stop(90%,#cd8b3e)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #edd876 0%,#e7c95b 10%,#cd8b3e 90%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #edd876 0%,#e7c95b 10%,#cd8b3e 90%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top, #edd876 0%,#e7c95b 10%,#cd8b3e 90%); /* IE10+ */
	background:linear-gradient(to bottom, #edd876 0%,#e7c95b 10%,#cd8b3e 90%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#edd876', endColorstr='#cd8b3e',GradientType=0 ); /* IE6-9 */

	-webkit-border-radius:0;
	border-radius:0;
	}
	.retail-coupon .pass-front-side:before,
	.retail-coupon .pass-front-side:after,
	.retail-coupon .pass-back-side:before,
	.retail-coupon .pass-back-side:after {
		position:absolute;
		left:0;
		z-index:100;
		content:"";
		display:block;
		width:312px;
		height:6px;
		}
	.retail-coupon .pass-front-side:before,
	.retail-coupon .pass-back-side:before {
		top:0;
		background:url(../img/bg_coupon_top.png) 50% 0 no-repeat;
		}
	.retail-coupon .pass-front-side:after,
	.retail-coupon .pass-back-side:after {
		bottom:0;
		background:url(../img/bg_coupon_bottom.png) 50% 100% no-repeat;
		}
	.retail-coupon .strip { margin:0 0 8px; }
		.retail-coupon .strip .primary-field {
			border:none;
			background:none;
			}
	.retail-coupon .totalpass-label {
		color:rgba(0,0,0,.5);
		text-shadow:0 1px 1px rgba(255,255,255,.1);
		}
		.retail-coupon .totalpass-label strong {
			color:#fff;
			text-shadow:0 -1px 1px rgba(0,0,0,.5);
			}
	.retail-coupon .primary-field h2 {
		margin:0;
		font-size:64px;
		}
    .retail-coupon .primary-field p {
	    letter-spacing:.15em;
	    font-size:18px;
	    font-weight:300;
	    }
	.retail-coupon .pass-front-side .label {
		text-transform:uppercase;
		font-size:12px;
		color:rgba(0,0,0,.5);
		text-shadow:0 1px 1px rgba(255,255,255,.1);
		}
	.retail-coupon .pass-front-side .value {
		font-size:26px;
		font-weight:100;
		}

/*
 * Store Card
 -------------------------------------------------------------------------------- */
.store-card .pass-front-side,
.store-card .pass-back-side {
	background:#cc9475; /* Old browsers */
	background:-moz-linear-gradient(top, #cc9475 0%, #b8744f 10%, #764a32 90%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc9475), color-stop(10%,#b8744f), color-stop(90%,#764a32)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #cc9475 0%,#b8744f 10%,#764a32 90%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #cc9475 0%,#b8744f 10%,#764a32 90%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top, #cc9475 0%,#b8744f 10%,#764a32 90%); /* IE10+ */
	background:linear-gradient(to bottom, #cc9475 0%,#b8744f 10%,#764a32 90%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc9475', endColorstr='#764a32',GradientType=0 ); /* IE6-9 */
	}
	.store-card .totalpass-label {
		color:rgba(0,0,0,.5);
		text-shadow:0 1px 1px rgba(255,255,255,.1);
		}
		.store-card .totalpass-label strong {
			color:#fff;
			text-shadow:0 -1px 1px rgba(0,0,0,.5);
			}
	.store-card .primary-field h2 {
		margin:0;
		font-size:64px;
		}
    .store-card .primary-field p {
	    letter-spacing:.15em;
	    font-size:18px;
	    font-weight:300;
	    }
	.store-card .pass-front-side .label {
		text-transform:uppercase;
		font-size:12px;
		color:rgba(0,0,0,.5);
		text-shadow:0 1px 1px rgba(255,255,255,.1);
		}
	.store-card .pass-front-side .value {
		font-size:26px;
		font-weight:100;
		}

/*
 * Generic Pass
 -------------------------------------------------------------------------------- */
.generic .pass-front-side,
.generic .pass-back-side {
	background:#ec5c5e; /* Old browsers */
	background:-moz-linear-gradient(top, #ec5c5e 0%, #e03136 10%, #bd2125 90%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec5c5e), color-stop(10%,#e03136), color-stop(90%,#bd2125)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #ec5c5e 0%,#e03136 10%,#bd2125 90%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #ec5c5e 0%,#e03136 10%,#bd2125 90%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top, #ec5c5e 0%,#e03136 10%,#bd2125 90%); /* IE10+ */
	background:linear-gradient(to bottom, #ec5c5e 0%,#e03136 10%,#bd2125 90%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec5c5e', endColorstr='#bd2125',GradientType=0 ); /* IE6-9 */
	}
	.generic .totalpass-label {
		color:rgba(0,0,0,.5);
		text-shadow:0 1px 1px rgba(255,255,255,.1);
		}
		.generic .totalpass-label strong {
			color:#fff;
			text-shadow:0 -1px 1px rgba(0,0,0,.5);
			}
	.generic .primary-field {
		float:left;
		width:180px;
		min-height:90px;
		}
	.generic .primary-field h2 {
		font-size:30px;
		}
	.generic .pass-front-side .label {
		text-transform:uppercase;
		font-size:12px;
		color:rgba(0,0,0,.5);
		text-shadow:0 1px 1px rgba(255,255,255,.1);
		}
	.generic .pass-front-side .value {
		font-size:26px;
		font-weight:100;
		}



/* TODO: Retina support */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	/* Retina-specific stuff here */

	}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
	-webkit-touch-callout: none;
}

.pressed {
	background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
	-webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
	position: absolute;
	left: -100%;
}

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	direction: ltr;
	display: block;
	overflow: hidden;
	text-align: left;
	text-indent: -999em;
}

.ir br {
	display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
	/* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min-resolution: 144dpi) {
	/* Style adjustments for viewports that meet the condition */
}
